# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# SQL DB
.src/core/sql/app.db
.norn.db


.gitignore


.pyproject.toml

.src/norn.egg-info/

